body {
    font-family: Arial, Verdana, sans-serif;

    height: 1080px;
    width: 1920px;
    margin: 1;
    color: black ;

    background-image: url("images/About-us-BG.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}

