body {
    font-family: Arial, Verdana, sans-serif;

    height: 100%;
    width: 100%;
    margin: 0;
    color: black ;

    background-image: url("images/BG001.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    background-size: auto;
    background-repeat: repeat-y;
   }

   body
  